version: '3'

services:

  proxy:
    container_name: mycompany-proxy.local.com
    image: jwilder/nginx-proxy:latest
    volumes:
      - "/var/run/docker.sock:/tmp/docker.sock:ro"
      - "./proxy.conf:/etc/nginx/conf.d/my_proxy.conf:ro"
    ports:
      - "80:80"
    restart: unless-stopped
    networks:
      main:
        aliases:
          - mycompany-proxy.local.com

  mycompany-neo4j.local.com:
    image: registry-mycompany-neo4j
    container_name: mycompany-neo4j.local.com
    ports:
      - "7474:7474"
      - "7473:7473"
      - "7687:7687"
    image: neo4j:3.4.5
    restart: always
    volumes:
      - "./var/neo4j:/data:rw"
    environment:
      VIRTUAL_HOST: 'mycompany-neo4j.local.com'
      NEO4J_dbms_security_procedures_unrestricted: "apoc.*"
      NEO4J_apoc_import_file_enabled: "true"
      NEO4J_apoc_export_file_enabled: "true"
      NEO4J_dbms_shell_enabled: "true"
    networks:
      main:
        aliases:
          - mycompany-neo4j.local.com

  mycompany-api.local.com:
    image: registry-mycompany-nodejs
    container_name: mycompany-api.local.com
    volumes:
      - "./api:/opt/app-root/src:rw"
    ports:
      - 80
    environment:
      VIRTUAL_HOST: 'mycompany-api.local.com'
      VIRTUAL_PORT: 80
      GRAPHQL_LISTEN_PORT: 80
      GRAPHQL_URI: 'http://mycompany-api.local.com'
      APP_ENV: 'development'
      NODE_ENV: 'development'
      NEO4J_URI: 'bolt://mycompany-neo4j.local.com:7687'
      NEO4J_USER: 'neo4j'
      NEO4J_PASSWORD: 'letmein'
    command: ['./wait-for-it.sh', '-t', '0', 'mycompany-neo4j.local.com:7474', '--', '.s2i/bin/assemble']
    networks:
      main:
        aliases:
          - mycompany-api.local.com

  mycompany-ui.local.com:
    image: registry-mycompany-nodejs
    container_name: mycompany-ui.local.com
    volumes:
      - "./ui:/opt/app-root/src:rw"
    ports:
      - 80
    environment:
      VIRTUAL_HOST: 'mycompany-ui.local.com'
      VIRTUAL_PORT: 80
      APP_ENV: 'development'
      NODE_ENV: 'development'
    command: ['./wait-for-it.sh', '-t', '0', 'mycompany-api.local.com:80', '--', '.s2i/bin/assemble']
    networks:
      main:
        aliases:
          - mycompany-ui.local.com

networks:
  main: